@model Pastebook.Models.UserModel

<div class="login-reg-page">
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-lg-push-1 col-md-push-1 col-sm-push-1">
            <div class="login-pills-area">
                <ul class="nav nav-pills nav-stacked">
                    <li class="active">
                        <a data-toggle="pill" href="#loginTab">Login</a>
                    </li>
                    <li>
                        <a data-toggle="pill" href="#registerTab">Register</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-item col-xs-7 col-sm-7 col-md-7 col-lg-7 col-lg-push-1 col-md-push-1 col-sm-push-1">
            <div class="login-content-area">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="loginTab">
                        <div class="login-head">
                            <h1>Login</h1>
                        </div>
                        <div class="login-body">
                            <div class="form-group">
                                @Html.Label("Email Address:", new { @class = "desc" })
                                @Html.TextBox("txtboxLoginEmail", "", new { id = "txtLoginEmail", @class = "form-control" })
                                @Html.ValidationMessage("", new { id = "validationLoginEmail", @class = "" })
                            </div>
                            <div class="form-group">
                                @Html.Label("Password:", new { @class = "desc" })
                                @Html.TextBox("txtboxloginPassword", "", new { id = "txtLoginPassword", type = "password", @class = "form-control" })
                                @Html.ValidationMessage("", new { id = "validationLoginPassword", @class = "" })
                            </div>
                            <div class="login-button-area row">
                                <div class="col-md-8">
                                    <span id="loginStatus"> </span>
                                    </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn login-button" id="btnLogin">Login</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="registerTab">
                        @using (Html.BeginForm("ValidateRegistration", "Account", FormMethod.Post, new { id = "registrationForm", name = "registrationForm" }))
                        {
                            <div class="register-head">
                                <h1>Register</h1>
                            </div>
                                <div class="row register-body">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Username, "Username*:", new { @class = "desc" })
                                            @Html.TextBoxFor(m => m.Username, new { id = "txtUsername", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Username, "", new { id = "validationUsername" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.EmailAddress, "Email Address*:", new { @class = "desc" })
                                            @Html.TextBoxFor(m => m.EmailAddress, new { id = "txtEmail", type = "email", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.EmailAddress, "", new { id = "validationEmail" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.FirstName, "First Name*:", new { @class = "desc" })
                                            @Html.TextBoxFor(m => m.FirstName, new { id = "txtFirstName", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.FirstName, "", new { id = "validationFirstName" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.LastName, "Last Name*:", new { @class = "desc" })
                                            @Html.TextBoxFor(m => m.LastName, new { id = "txtLastName", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.LastName, "", new { id = "validationLastName" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Password, "Password*:", new { @class = "desc" })
                                            @Html.TextBoxFor(m => m.Password, new { id = "txtPassword", type = "password", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { id = "validationPassword" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.ConfirmPassword, "Confirm Password*:", new { @class = "desc" })
                                            @Html.TextBoxFor(m => m.ConfirmPassword, new { id = "txtConfirmPassword", type = "password", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { id = "validationConfirmPassword" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Birthday, "Birthday (dd/mm/yyyy)*:", new { @class = "desc" })
                                            @Html.EditorFor(m => m.Birthday, "{0:yyyy-MM-dd}", new { htmlAttributes = new { id = "txtBirthday", type = "date", @class = "form-control", max = System.DateTime.Now.ToString("yyyy-MM-dd") } })
                                            @Html.ValidationMessageFor(m => m.Birthday, "", new { id = "validationBirthday" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Gender, "Gender:", new { @class = "desc" })
                                            <div class="form-inline">
                                                @Html.RadioButtonFor(m => m.Gender, "M") Male
                                            </div>
                                            <div class="form-inline">
                                                @Html.RadioButtonFor(m => m.Gender, "F") Female
                                            </div>
                                            @Html.ValidationMessageFor(m => m.Gender)
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.CountryID, "Country:", new { @class = "desc" })
                                            @Html.DropDownListFor(m => m.CountryID, new SelectList((System.Collections.IEnumerable)ViewData["Countries"], "CountryID", "CountryName"), "Select Country", new { id = "selCountry", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.CountryID)
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.MobileNumber, "Mobile Number:", new { @class = "desc" })
                                            @Html.TextBoxFor(m => m.MobileNumber, new { id = "txtNumber", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.MobileNumber, "", new { id = "validationNumber" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-md-push-9">
                                        <button type="submit" class="btn register-button" id="btnRegister">Register</button>
                                    </div>
                                </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="@Url.Content("~/Scripts/loginChecker.js")"></script>
    @Scripts.Render("~/bundles/jqueryval")
}