<div class="content-main">
    <div class="row margin-b-30">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="content-item">
                <div class="search-bar-area">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" class="search-text-input" placeholder="Search..." id="txtSearchQuery" name="txtSearchQuery" />
                        </div>
                        <div class="col-md-4">
                            <button type="button" id="btnSearch" class="btn search-button">Search</button>
                        </div>
                    </div>
                </div>
                <div id="searchResults" class="search-body">
                    @Html.Action("SearchResults", "Search")
                </div>
            </div>
        </div>
    </div>
</div>
<img src="@Url.Content("~/Content/images/search-colored.png")" class="icon-current-page" width="100" height="100" />

@section scripts
{
    <script>
        var GetSearchResultsUrl = "@Url.Action("GetSearchResults", "Search")";
        var SearchResultsUrl = "@Url.Action("SearchResults", "Search")";
    </script>
    <script src="@Url.Content("~/Scripts/search-user.js")"></script>
}