@model IEnumerable<Pastebook.Models.NotificationModel>

<div class="content-main">
    <div class="row margin-b-30">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="content-item">
                @foreach (var item in Model)
                {
                    if (item.NotifType == "L")
                    {
                        <a href='@Url.Action("Posts", "Post", new { id = item.PostID })'>
                            <h4>@Html.DisplayFor(notif => item.SenderName) has liked your post.</h4>
                            <h5>@Html.DisplayFor(notif => item.DateCreated)</h5>
                        </a>
                        <hr />
                    }
                    else if (item.NotifType == "C")
                    {
                        <a href='@Url.Action("Posts", "Post", new { id = item.PostID })'>
                            <h4>@Html.DisplayFor(notif => item.SenderName) has commented on your post.</h4>
                            <h5>@Html.DisplayFor(notif => item.DateCreated)</h5>
                        </a>
                        <hr />
                    }
                    else if (item.NotifType == "F")
                    {
                        <a href='@Url.Action("ViewProfile", "UserProfile", new { profileUsername = item.SenderUsername })'>
                            <h4>@Html.DisplayFor(notif => item.SenderName) has sent you a friend request.</h4>
                            <h5>@Html.DisplayFor(notif => item.DateCreated)</h5>
                        </a>
                        <hr />
                    }
                }

            </div>
        </div>
    </div>
</div>