@model Pastebook.Models.UserProfileModel

@{
    var viewUsername = Html.DisplayFor(model => model.Username);
}

@if (Model.IsFriend == "Y")
{
    <div class="content-main">
        <div class="row margin-b-30">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="content-item">
                    <div>

                        @{
                            string imgSrc = null;
                            if (Model.ProfilePic != null)
                            {
                                var base64 = Convert.ToBase64String(Model.ProfilePic);
                                imgSrc = String.Format("data:image/png;base64,{0}", base64);
                            }
                        }

                        <img src="@imgSrc" />

                        <h3>@Html.DisplayFor(model => model.Username)</h3>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Username)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Username)
                                <input type="hidden" id="username" value="@Html.DisplayFor(model => model.Username)" />
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FirstName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.LastName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.LastName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Birthday)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Birthday)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Country)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Country)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.MobileNumber)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.MobileNumber)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Gender)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Gender)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.AboutMe)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.AboutMe)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.EmailAddress)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.EmailAddress)
                            </dd>

                        </dl>

                        @if (Model.Username == Session["user"].ToString())
                        {
                            if (Model.AboutMe == null)
                            {
                                <button type="button" id="btnAddAboutMe" data-toggle="collapse" data-target="#editingAboutMe">Add About Me</button>
                            }
                            else
                            {
                                <button type="button" id="btnEditAboutMe" data-toggle="collapse" data-target="#editingAboutMe">Edit About Me</button>
                            }

                            if (Model.ProfilePic == null)
                            {
                                <button type="button" id="btnAddPicture" data-toggle="collapse" data-target="#editingProfile">Add Profile Picture</button>
                            }
                            else
                            {
                                <button type="button" id="btnEditPicture" data-toggle="collapse" data-target="#editingProfile">Edit Profile Picture</button>
                            }

                            <div id="editingAboutMe" class="collapse">
                                <textarea id="textAboutMe">@Html.DisplayFor(model => model.AboutMe)</textarea>
                                <button type="button" id="btnSaveAboutMe">Save</button>
                            </div>

                            <div id="editingProfile" class="collapse">
                                @using (Html.BeginForm("SaveProfilePicture", "UserProfile", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <label for="file">Upload Image:</label>
                                    <input type="file" name="file" id="file" style="width: 100%;" />
                                    <input type="submit" value="Upload" class="submit" />
                                }

                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        @Html.Partial("AddPost")
        @Html.Action("TimelinePosts", "UserProfile", new { username = viewUsername })
    </div>
}

else
{

    <div class="content-main">
        <div class="row margin-b-30">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="content-item">
                    <div>
                        <h3>@Html.DisplayFor(model => model.Username)</h3>
                        <input type="hidden" id="username" value="@Html.DisplayFor(model => model.Username)" />
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Username)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Username)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FirstName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.LastName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.LastName)
                            </dd>

                        </dl>
                        @if (Model.IsFriend == "N")
                        {
                            <button type="button" id="btnFriendRequest">Add Friend</button>
                        }
                        else if (Model.IsFriend == "R")
                        {
                            <button type="button" id="btnFriendRequest" disabled>Friend Request Sent</button>
                        }
                        else
                        {
                            <button type="button" id="btnFriendConfirm">Confirm Friend Request</button>
                            <button type="button" id="btnFriendDelete">Delete Friend Request</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>


}

@section scripts{
    <script src="@Url.Content("~/Scripts/addPostToTimeline.js")"></script>
    <script src="@Url.Content("~/Scripts/addLikeToTimeline.js")"></script>
    <script src="@Url.Content("~/Scripts/addCommentToTimeline.js")"></script>
    <script src="@Url.Content("~/Scripts/sendFriendRequest.js")"></script>
    <script src="@Url.Content("~/Scripts/confirmDeleteFriendRequest.js")"></script>
    <script src="@Url.Content("~/Scripts/saveAboutMe.js")"></script>
    <script src="@Url.Content("~/Scripts/savePicture.js")"></script>
}

